#map {
  width: 100vw;
  height: 100vh;
}

/*Start NavBar styles*/

#navbar {
	display:flex;
	justify-content: center;
	background-color: #383838FF;
}

#navbar button {
	position: absolute;
	left: 0;
	top: 0;
	padding: 18px;
}

#navbar .title {
	color: white;
}

/*End NavBar styles*/

/*Start Places styles*/
.places {
	z-index: 1;
	position: absolute;
	top: 5%;
	left: 0;
	background-color: black;
	overflow-y: scroll;
	height:100%;
	max-width: 45%;
}

#placesFilter {
	width: 75%;
	margin: 10px;
}

.venueInfo {
	display: block;
	margin-left: 5%;
}

.venueInfo h2, p {
	color: white;
}